@model IEnumerable<Category>
<div class="container">
    <div class="row pt-4">
        <div>
            <h2 class="text-primary"> Category List</h2>
        </div>
    </div>
    <div class="row pt-2">
        <div>
            <a asp-action="Create" class="btn btn-primary right">
                <i class="bi bi-plus-circle">Create Category</i>
            </a>
        </div>
    </div>

</div>
<table class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Display Order</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.DisplayOrder</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-success">
                        <i class="bi bi-pencil-square">Edit</i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">
                        <i class="bi bi-trash">Delete</i>
                    </a>
                </td>
            </tr>
        }

    </tbody>


</table>